@import url(https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap);
#root > div {
  display: flex;
  gap: 1rem;
  padding-right: 1rem;
}
#root > div > * {
  width: 50%;
}

#maps {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}
#maps > * {
  width: calc(50% - 1rem);
}

.map {
  background: #1e1e1e;
  border: 1px solid #2a2a2a;
  border-radius: 0.5rem;
  width: 100%;
  overflow: hidden;
}
.map h1 {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #2a2a2a;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}
.map div.rotation-current {
  height: 20rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.map div.rotation-current > img {
  height: 100%;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(2.25);
}
.map div.rotation-current .rotation-next-up {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  filter: drop-shadow(-2px 2px 3px rgba(0, 0, 0, 0.5));
}
.map div.rotation-current .rotation-next-up img {
  width: 6rem;
  height: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  filter: brightness(2.75);
}
.map div.rotation-current .rotation-next-up > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #c3c3c3;
}
.map div.rotation-current .rotation-details {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map div.rotation-current .rotation-details h2 {
  margin: 0 0 2rem;
  text-align: center;
  font-size: 1.75rem;
}
.map div.rotation-current .rotation-details h2 small {
  display: block;
  font-size: 0.95rem;
  font-weight: 400;
  opacity: 0.6;
  text-align: center;
  text-transform: lowercase;
  margin-bottom: -0.125rem;
}
.map div.rotation-current .rotation-details h3 {
  margin: 0 0 3rem;
  font-weight: normal;
}
.map div.rotation-current .rotation-details span {
  opacity: 0.6;
  font-size: 0.95rem;
  margin-bottom: -0.125rem;
}

footer {
  padding: 3rem;
  text-align: center;
}
footer .heart {
  color: #ff5858;
  animation: hue-shift;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#crafting {
  background: #1e1e1e;
  border: 1px solid #2a2a2a;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
  box-sizing: border-box;
}
#crafting .group {
  width: calc(33.3333333333% - 0.7rem);
  border: 1px solid #2c2c2c;
  border-radius: 0.5rem;
  box-sizing: border-box;
  text-align: center;
  color: #3dd2c5;
  float: left;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#crafting .group h1 {
  color: white;
  font-size: 1.5rem;
  text-transform: lowercase;
  font-weight: normal;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}
#crafting .group h1 small {
  display: block;
  opacity: 0.6;
  font-size: 0.95rem;
}
#crafting .group h1 small app-countdown {
  display: inline-block;
}
#crafting .group app-crafting-items {
  flex-grow: 1;
  display: flex;
}

div.crafting-item {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  color: #3dd2c5;
  padding: 1rem;
  float: left;
  flex-grow: 1;
}
div.crafting-item img.asset {
  width: 5rem;
  margin: auto;
  background-color: black !important;
  border-radius: 0.5rem;
  border: 1px solid #a6a6a6;
}
div.crafting-item span.description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.25rem;
}
div.crafting-item span.description img.crafting {
  width: 1rem;
  height: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
  color: red;
  margin-right: 0.125rem;
}

#servers {
  background: #1e1e1e;
  border: 1px solid #2a2a2a;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  box-sizing: border-box;
}
#servers div {
  flex-grow: 1;
  width: 50%;
}
#servers div:nth-child(2n) table {
  border-right: none !important;
}
#servers div table {
  width: 100%;
  border-right: 1px solid #2a2a2a;
  border-collapse: collapse;
}
#servers div table tr:last-child td {
  padding-bottom: 1rem;
}
#servers div table tr td {
  padding: 0 1rem;
}
#servers div table th {
  border-bottom: 1px solid #303030;
  padding: 0.5rem 0 0.5rem;
  background: #2a2a2a;
}

body {
  margin: 0;
  background: #101010;
  padding: 2rem;
  overflow-x: hidden;
  color: white;
  font-family: "Oxygen", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: 0.5rem;
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
  outline: 1px solid #494949;
  border-radius: 1rem;
}

.text-muted {
  color: #8f8f8f;
}

a[href] {
  color: #8E7C6E;
  font-weight: bold;
  text-decoration: none;
}

@keyframes hue-shift {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
